html {
    scroll-behavior: smooth;
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(59, 59, 59);
    background-color:rgb(248, 248, 248);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
p 
{
    margin-top: 1em;
    margin-bottom: 1em;
}
p::selection, h1::selection, h2::selection, h3::selection, li::selection{
    background-color: rgb(59, 59, 59);
    color: rgb(248, 248, 248);
}
a {
    color: #2f00ff;
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover {
    color: #ef1526;
}
img {width: 100%; max-width: 100%; border-radius: 10px;}
.wrapper {
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-btn {
    display: block;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    transition-duration: 0.3s;
}
.mob_menu_btn {
    display: none;
}
.dropdown {
    display: none;
}
.mob_menu {
    display: none;
}
.nav-btn:first-child:hover {
    background-color: #ef1526;
    color: rgb(248, 248, 248);
    border-color: #ef1526;
}
.nav-btn:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.nav-btn:active {
    transform: scale(0.9);
}
.lang {
    display: block;
    text-decoration: none;
    padding: 0.8em;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    align-self:flex-start;
    margin-top: 1rem;
}
.lang:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.main-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 0.625em 2.18em;
    font-size: 1.125rem;
    text-align: left;
}
.main-block p {
    max-width: 900px;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
}
.main-block h2 {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1.4px;
    line-height: 1.6rem;
}

.main-block-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
}
.img {
    max-width: 900px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.articles {
    display: block;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 0.625em 2.18em;
    font-size: 1.125rem;
    text-align: left;
}
.articles h1 {
    text-align: center;
}

.subscribe-btn {
  position: absolute;
  left: 80%;
  top: 14%;
  padding: 0.6em;
  border: 1px solid rgb(63,63,63);
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  color: rgb(63, 63, 63);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.subscribe-btn:hover {
    background-color: rgb(59, 59, 59);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,1fr));
    justify-items: center;
}

.mail {
    display: flex;
    justify-content: space-between;
}
.mail-link {
    display: block;
    text-decoration: none;
    color: rgb(63, 63, 63);
    margin-left: 0.625rem;
}
.mail-link:hover {
    text-decoration: underline;
}
#logo {
    width: 450px;
    height: 450px;
}
#moto-logo {
    width: 350px;
    margin-bottom: 50px;
    margin-top: 30px;
}
#acura-logo {
    width: 350px;
    margin-bottom: 40px;
    margin-top: 30px;
}


.history-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px 35px;
    font-size: 1.125rem;
    text-align: left;
}
.history-block p {
    max-width: 1000px;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
}
.history-block img {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#acura-1 {
    margin-top: 0;
    margin-bottom: 0;
}
.body-search {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.body-search a {
    display: block;
    padding: 18px;
    border: 1px solid rgb(63,63,63);
    border-radius:10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63,63,63);
}
.body-search a:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.art-block {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 370px;
    max-height: 500px;
    transition: 0.3s;
}
.img-box {
    position: relative;
    overflow: hidden;
    margin-right: 0;
    height: 250px;
    width: 370px;
}
.art-block img {
    position: absolute;
    transition: 1s;
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.art-block:hover {
   transform: translateY(-10px);
   
}
.art-block a {
    text-decoration: none;
    
}
.art-block h2 {
    color: rgb(63, 63, 63);
    font-size: 1.4rem;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.art-block time {
    margin-left: 10px;
    color: rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
}
.under-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin-top: 20px;
}

.date {
    color: rgb(63, 63, 63);
    font-size: 1.5rem;
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
.share {
    text-align: center;
}
.share-word {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
}
#email {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 63, 63);
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 10px;
} 
.social {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.social-2 {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
   
}
.soc-icon {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.face {
    background-image: url(/Simple-site/images/facebook_icon.png);
}
.tweet {
    background-image: url(/Simple-site/images/tweeter_icon.png);
}
.tweet-2 {
    background-image: url(/Simple-site/images/tweeter_round.png);
}
.insta {
    background-image: url(/Simple-site/images/insta_icon.png);
}
.vk {
    background-image: url(/Simple-site/images/vk_icon.png);
}
.tele {
    background-image: url(/Simple-site/images/telegram_icon.png);
}
.media-buttons {
    display: flex;
    justify-content:space-between;

}
.media-buttons a {
    padding: 1em;
    margin-right: 10px;
    border-radius: 10px;
    color: rgb(63, 63, 63);
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    cursor: pointer;
}
.media-buttons a:hover {
    background-color: rgb(63, 63, 63);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
    color: rgb(248, 248, 248);
}
.media-items {
  display: flex;
}
.media-items_2 {
    display: flex;
    margin-bottom: 5.9rem;
}
.media-items_2 a {
    display: block;
    text-decoration: none;
    padding: 1em;
    border: 4px dashed rgb(121, 121, 121);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    transition: 0.2s;
}
.media-items li {
    list-style-type: none;
    margin-bottom: 10px;
}

.media-items a {
    display: block;
    text-decoration: none;
    padding: 1em;
    border: 4px dashed rgb(121, 121, 121);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    transition: 0.2s;
}
.media-items a:hover {
    border: 4px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
    transform: scale(1.03);
}
.media-items a:active {
    background-color: rgb(121, 121, 121);
    color: rgb(248, 248, 248);
}
.images-item {
    display: block;
    text-decoration: none;
    padding: 1em;
    border: 4px dashed rgb(121, 121, 121);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    transition: 0.2s;
    cursor: pointer;
}
.images-item:hover {
    border: 4px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.images-item:active {
    background-color: rgb(121, 121, 121);
    color: rgb(248, 248, 248);
}
.grid-img {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,1fr));
    margin-top: 30px;
}
.grid-img-item {
    height: 300px;
    width: 350px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
.grid-img-item-img {
    margin-bottom: 10px;
}
.grid-img-item a {
    width: 340px;
    padding: 5px 40px;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(63, 63, 63);
    opacity: 0.3;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.back-btn {
    padding: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(59, 59, 59);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.back-btn:hover {
    background-color: rgb(59, 59, 59);
    color: rgb(248, 248, 248);
}
.load-btn {
    width: 300px;
    padding: 5px 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(59, 59, 59);
    letter-spacing: 1px;
}
.load-btn:hover{
    background-color: rgb(59, 59, 59);
    color: rgb(248, 248, 248);
}
.grid-img-item a:hover {
    opacity: 1;
}
.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    box-sizing: content-box;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.foot-btn {
    display: block;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63, 63, 63);
    max-width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
.foot-btn:hover {
    background-color:rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
    cursor: pointer;
}
.foot-btn:active {
    transform: scale(0.9);
}
@media (max-width:800px) {
    .main-block p {
        max-width: 600px;
    }
    #logo {
        width:400px;
        height: 400px;
    }
}
@media (max-width:400px) {
    .top-nav {
        display: block;
        border: none;
        padding: 0;
    }
    .nav-btn {
        display: none;
        transition-duration: 0;
    }
    .nav-btn:active {
        transform: none;
    }
    .mob_menu_btn {
        display: block;
        padding: 0.6em;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 10px;
        font-size: 1.45rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgb(63, 63, 63);
        background-color: rgb(248, 248, 248);
        font-family: inherit;
        margin: 0;
        transition-duration: 0.3s;
    }
    .mob_menu_btn:active {
        background-color:rgb(63, 63, 63);
        color: rgb(248, 248, 248);
        box-shadow: 2px 2px 5px rgb(151, 151, 151);
    }
    .dropdown {
        display: block;
        float: left;
        overflow: hidden;
    }
    .mob_menu {
        display: none;
        position: absolute;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .mob_menu a {
        float: none;
        color: rgb(59, 59, 59);
        border: none;
        padding: 1em 1em;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    .dropdown:hover .mob_menu {
        display: block;
    }
    .history-block  {
        padding: 0.625em 1.18em;
        font-size: 1.2rem;
    }
    .main-block {
        padding: 0.625em 1.18em;
    }
 
    .main-block p {
        max-width: 300px;
        font-size: 1.2rem;
    }
    .main-block h1 {
        text-align: left;
        font-size: 1.6em;
    }
     .img {
        width: 300px;
       
    }

    .art-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .art-block {
        margin-bottom: 15px;
        max-width: 300px;
        margin-left: 0;
        margin-right: 0;
    }
    .art-block:hover {
        transform: none;
    }
    .img-box {
        max-width:300px;
    }
    .media-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .media-buttons a {
        margin-top: 10px;
    }
    .media-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .media-items_2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .media-items ul {
        padding-left: 0;
    }
    .grid-img {
        display: flex;
        flex-direction: column;
    }
    .grid-img-item {
        max-width: 300px;
    }
    .main-block-content {
        max-width: 300px;
    }
    .under-block {
        max-width: 300px;
        align-items: flex-start;
    }
    .share {
        text-align: center;
    }
    .date {
        font-size: 1.3rem;
    }
    .foot-btn {
        padding: 0.7rem;
    }
    #logo {
        width:250px;
        height: 250px;
    }
    #moto-logo {
        
        width:250px;
        height: 220px;
    }
    #acura-logo {
        width:250px;
        height: 200px;
    }
}
