html {
    scroll-behavior: smooth;
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(63, 63, 63);
    background-color:rgb(248, 248, 248);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
p 
{
    margin-top: 1em;
    margin-bottom: 1em;
}
img {width: 100%; max-width: 100%;}
.wrapper {
   
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    
}
.top-nav {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 1em 1em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-btn {
    display: block;
    text-decoration: none;
    padding: 1em 1em;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    transition-duration: 0.4s;
}
.nav-btn:first-child:hover {
    background-color: #ef1526;
    color: rgb(248, 248, 248);
    border-color: #ef1526;
}
.nav-btn:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}

.main-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    margin-top: 2em;
    padding: 0.625em 2.18em;
    font-size: 1.125rem;
    text-align: left;
}
.main-block p {
    max-width: 900px;
    line-height: 1.75rem;
    letter-spacing: 1.2px;
}
.main-block h2 {
    text-align: center;
    font-size: 1.56rem;
    letter-spacing: 1.4px;
    line-height: 35px;
}
.mail {
    display: flex;
    justify-content: space-between;
}
.mail-link {
    display: block;
    text-decoration: none;
    color: rgb(63, 63, 63);
    margin-left: 0.625rem;
}
.mail-link:hover {
    text-decoration: underline;
}
#logo {
    width: 450px;
    height: 450px;
}
#moto-logo {
    width: 350px;
    margin-bottom: 50px;
    margin-top: 30px;
}
#acura-logo {
    width: 350px;
    margin-bottom: 40px;
    margin-top: 30px;
}


.history-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px 35px;
    font-size: 1.125rem;
    text-align: left;
}
.history-block p {
    max-width: 1000px;
    line-height: 28px;
    letter-spacing: 1.2px;
}
.history-block img {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#acura-1 {
    margin-top: 0;
    margin-bottom: 0;
}
.body-search {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.body-search a {
    display: block;
    padding: 18px;
    border: 1px solid rgb(63,63,63);
    border-radius:10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63,63,63);
}
.body-search a:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);

}
.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    box-sizing: content-box;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.foot-btn {
    display: block;
    text-decoration: none;
    padding: 15px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63, 63, 63);
    max-width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
.foot-btn:hover {
    background-color:rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
    cursor: pointer;
}
@media (max-width:800px) {
    .main-block p {
        max-width: 600px;
    }
    #logo {
        width:400px;
        height: 400px;
    }
}
