html {
    scroll-behavior: smooth;
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(59, 59, 59);
    background-color:rgb(248, 248, 248) ;
    display: flex;
    flex-direction: column;
}
p {
    margin-bottom: 1em;
    margin-top: 1em;
}
a {
    color: rgb(63, 63, 63);
}
a:active {
    color: #ef1526;
}
a:hover {
    text-decoration: none;
}

img {width: 100%; max-width: 100%; border-radius: 15px;}
.wrapper {
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 1em 1em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-btn {
    display: block;
    text-decoration: none;
    padding: 1em 1em;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(63, 63, 63);
    transition: 0.2s;
}
.mob_menu_btn {
    display: none;
}
.dropdown {
    display: none;
}
.mob_menu {
    display: none;
}
.nav-btn:first-child:hover {
    background-color: #ef1526;
    color: rgb(248, 248, 248);
    border-color: #ef1526;
}
.nav-btn:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.nav-btn:active 
{
    transform: scale(0.9);
}
.second-block {
    text-align: center;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    margin-top: 2em;
    padding: 0.625em 2.18em;
    font-size: 1.125rem;
}
.second-block h1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.select-body {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.acura-switch {
    display: block;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.23rem;
    font-weight: 700;
    width: 65px;
    margin: 0 auto;
}
.acura-switch:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
} 
.select-generation {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
 .select-generation a {
    display: block;
    padding: 1em;
    
    margin-right: 1em;
    border: 1px solid rgb(63,63,63);
    border-radius:10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63,63,63);
    margin-top: 0.625em;
    font-family: Arial, Helvetica, sans-serif;
}
.select-body a {
    display: block;
    padding: 1em;
    margin-right: 1.56em;
    border: 1px solid rgb(63,63,63);
    border-radius:10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63,63,63);
    margin-top: 0.625em;
    font-family: Arial, Helvetica, sans-serif;
}
.select-body a:hover, .select-generation a:hover {
    background-color: rgb(63,63,63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
    cursor: pointer;
}
.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    margin-bottom: 1.56em;
    margin-top: 2.8em;
    
}
.theme {
    padding-right: 1em;
}
.theme:last-child {
    margin-right: 0;
}
.themes-block h1 {
    text-align: center;
    margin-bottom: 0;
}
.themes a {
    display: block;
    padding: 2em;
    border: 1px solid rgb(63,63,63);
    border-radius:10px;
    text-decoration: none;
    font-size: 1.56rem;
    font-weight: 700;
    color: rgb(63,63,63);
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
}
.themes a:hover {
    background-color: rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.enc-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: left;
}
.enc-block p {
    max-width: 1000px;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
}
.enc-block h2 {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.enc-block h3 {
    font-family: Arial, Helvetica, sans-serif;
} 
.enc-block ol, .enc-block ul {
    align-self:center;
    max-width: 1000px;
    line-height: 28px;
    letter-spacing: 1.2px;
}
.enc-block ol>li {
    margin-top: 15px;
    margin-left: 8px;
}
.img {
    max-width: 1000px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.gototop
{   width: 30px;
    height: 30px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 35px;
    display: none;
    z-index: 22;
    cursor: pointer;
}
.gototop:hover {
    opacity: 1;
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    box-sizing: content-box;
    border: 1px solid rgb(63,63,63);
    border-radius: 10px;
    padding: 1em 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    transition: 0.2s;
}
.foot-btn {
    display: block;
    text-decoration: none;
    padding: 1em;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(63, 63, 63);
    max-width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}
.foot-btn:hover {
    background-color:rgb(63, 63, 63);
    color: rgb(248, 248, 248);
    box-shadow: 2px 2px 5px rgb(151, 151, 151);
    cursor: pointer;
}
.foot-btn:active {
    transform: scale(0.9);
}
@media (max-width:800px) {
    .second-block p {
        max-width: 600px;
    }
}
@media (max-width:500px) {
    .top-nav {
        display: block;
        border: none;
        padding: 0;
    }
    .nav-btn {
        display: none;
        transition-duration: 0;
    }
    .nav-btn:active {
        transform: none;
    }
    .mob_menu_btn {
        display: block;
        padding: 0.6em;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 10px;
        font-size: 1.45rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgb(63, 63, 63);
        background-color: rgb(248, 248, 248);
        font-family: inherit;
        margin: 0;
        transition-duration: 0.3s;
    }
    .mob_menu_btn:active {
        background-color:rgb(63, 63, 63);
        color: rgb(248, 248, 248);
        box-shadow: 2px 2px 5px rgb(151, 151, 151);
    }
    .dropdown {
        display: block;
        float: left;
        overflow: hidden;
    }
    .mob_menu {
        display: none;
        position: absolute;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .mob_menu a {
        float: none;
        color: rgb(59, 59, 59);
        border: none;
        padding: 1em 1em;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    .dropdown:hover .mob_menu {
        display: block;
    }
    .second-block p {
        max-width: 300px;
    }
    .second-block h1 {
        text-align: center;
    }
    
}
