h1 {

}

a:hover {
color:#4682B4;
}
a {
margin-left:5px;	
text-decoration: none;
color:black;
font-family: Verdana, sans-serif;
}

.mainword {
position: absolute;
text-align: center;
width:250px;
height: 150px;
padding:0px;
background: #fc0; 	
top:0;
left:0;
right: 0;
bottom: 150px;
margin: auto;
overflow: auto;
}


.podval {
    text-align: center;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 6px; /* Поля вокруг текста */
    background: #4682B4; /* Цвет фона */
    color: white; /* Цвет текста */
    width: 100%;
	font-family: Verdana, sans-serif;
}